name: learn-github-actions

on: pull_request

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - env:
          HOGE: ${{ github.head_ref }}
        run: |
          echo "name: ${{ github.event_name }} path: ${{ github.event_path }} ref: ${{ github.ref }} head_ref: $HOGE"
